@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../public/cristina-glebova-FbNoihuPJNs-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  background-color: #1b1b1b;
  border-radius: 10px;
}
